.todoRow {
  text-align: center;
}

.editInput {
  width: 80%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.editButton,
.saveButton {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  background-color: #3d4d9f;
  color: white;
}

.editButton:hover {
  background-color: #3d4d9f;
}

.saveButton {
  background-color: #3d4d9f;
  color: white;
}

.saveButton:hover {
  background-color: #3d4d9f;
}

.deleteButton {
  background-color: #9e535b;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #9b4c54;
}
