/* Todo 입력 창 */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.todoInput {
  width: 70%; /* 입력창 길이를 테이블보다 약간 짧게 */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.todoInput:focus {
  border-color: #597ca1;
  box-shadow: 0 0 5px rgba(89, 124, 161, 0.5);
}

.addButton {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #597ca1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #475c85;
}

